<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Contenido -->
    <div class="container mt-4">
        <h3>Resumen de la Venta</h3>
        <form id="form-venta-resumen">
            <div class="modal-body">
                <h4>Cabecera Venta</h4> 
                <div class="mb-3">
                    <input type="hidden" name="id_venta" id="id-venta" [(ngModel)]="nuevaVenta.id_venta"  >
                    <label for="fecha-venta" class="form-label">Fecha Venta</label>
                    <input type="datetime-local" class="form-control" id="fecha-venta" name="fecha_venta" 
                            [(ngModel)]="nuevaVenta.fecha_venta" required>                     
                </div>            
                <div class="mb-1">
                    <label for="cliente-venta" class="form-label">Cliente</label>
                    <select class="form-select" id="cliente-venta" name="cliente_id" 
                            [(ngModel)]="nuevaVenta.cliente_id" required>
                        <option value="" disabled selected>Selecciona un cliente</option>
                        <option *ngFor="let cliente of clientes" [value]="cliente.cedula_cliente">
                            {{ cliente.nombres_cliente }} {{ cliente.apellidos_cliente }}
                        </option>
                    </select>
                </div> 
                <div class="mb-1">
                    <a routerLink="../cliente" class="btn btn-success" title="Agregar Cliente">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>                                                   
                    </a>
                </div> 
                <router-outlet></router-outlet>
                <div class="mb-1">
                    <label for="forma-pago-venta" class="form-label">Forma Pago</label>
                    <select class="form-select" id="forma-pago-venta" name="forma_pago" 
                            [(ngModel)]="nuevaVenta.forma_pago" required>
                        <option value="" disabled selected>Selecciona una forma de pago</option>
                        <option value="EFECTIVO"> 
                            EFECTIVO
                        </option>
                        <option value="TARJETA"> 
                            TARJETA
                        </option>
                        <option value="TRANSFERENCIA"> 
                            TRANSFERENCIA
                        </option>
                    </select>
                </div> 
            </div>
            <h4>Detalle Venta</h4>
            <table id="tabla-resumen-venta">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>IVA</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let detalle of detallesVenta">
                        <td>{{ detalle.producto_id }} - {{detalle.nombre}} </td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>{{ detalle.precio_unitario | currency:'USD' }}</td>
                        <td>{{ detalle.iva ? 'Sí' : 'No' }}</td>  
                        <td>{{ detalle.subtotal | currency:'USD' }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="total-row">
                      <td colspan="4" style="text-align: right;"><b>Suma Subtotal:</b></td>
                      <td>{{ sumaSubtotal | currency:'USD' }}</td>
                    </tr>
                    <tr class="total-row">
                      <td colspan="4" style="text-align: right;"><b>IVA 12%:</b></td>
                      <td>{{ ivaTotal | currency:'USD' }}</td>
                    </tr>
                    <tr class="total-row">
                      <td colspan="4" style="text-align: right;"><b>Total:</b></td>
                      <td>{{ totalVenta | currency:'USD' }}</td>
                    </tr>
                  </tfoot>
            </table>
            <div class="mb-3" style="text-align: right;">
                <a type="button" routerLink="../venta" class="btn btn-danger">Cancelar Venta</a>.                     
                <button type="submit"  id="confirmar-compra-btn" 
                        class="btn btn-primary" (click)="confirmarVenta()" >Confirmar Venta</button>
            </div>
            <router-outlet></router-outlet>
        </form>
    </div>    
    <!-- Enlaces a los archivos de jQuery y Popper.js (requeridos por Bootstrap) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  </body>
</html>

