<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Contenido -->
    <div class="container mt-4">
      <div class="mb-3">
        <a routerLink="../venta" class="btn btn-primary mb-3">Ir a Vender
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
            </svg>
        </a>
      </div>
      <router-outlet></router-outlet>
        <h2 class="mb-3">LISTADO DE VENTAS</h2>    
        <div class="mb-2">
          <!-- Agrega el campo de búsqueda del producto -->
          <button class="btn btn-success mb-3" (click)="mostrarCamposDeFecha()">Buscar por Fechas
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-calendar-plus-fill" viewBox="0 0 16 16">
                <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM8.5 8.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>.
          <button class="btn btn-success mb-3" (click)="limpiarBusqueda()">Refrescar Tabla
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
              <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
          </button>
          <div class="form-group" *ngIf="mostrarFechas">
            <label for="fecha-inicio">Fecha de inicio:</label>
            <input type="datetime-local" class="form-control" id="fecha-inicio" [(ngModel)]="fechaInicio" [max]="fechaFin" (change)="filtrarPorFechas()" />
          </div>
            
          <div class="form-group" *ngIf="mostrarFechas">
            <label for="fecha-fin">Fecha de fin:</label>
            <input type="datetime-local" class="form-control" id="fecha-fin" [(ngModel)]="fechaFin" [min]="fechaInicio" (change)="filtrarPorFechas()" />
          </div> 
        </div>   
        <table class="table" id="table-listado-compras">
          <thead>
            <tr style="background-color: ghostwhite;">
                <th>NÚMERO VENTA</th>
                <th>FECHA VENTA</th>
                <th>CLIENTE</th>
                <th>FORMA PAGO</th>
                <th>TOTAL</th>  
                <th style="text-align: center;">DETALLE VENTA</th>           
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ventas" >
                <td> {{venta.numero_venta}} </td>
                <td> {{ venta.fecha_venta | date: 'dd-MM-yyyy HH:mm' }}</td>
                <td> {{venta.cliente_id}} </td>
                <td> {{venta.forma_pago}} </td>
                <td> {{venta.total | currency:'USD' }} </td>    
                <td style="text-align:  center;">
                    <button type="button" title="Ver Detalle Compra" class="btn btn-primary mb-3" data-bs-toggle="modal"
                      data-bs-target="#modal-table-venta" (click)="verDetalleVentas(venta)" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                        </svg>
                    </button>
                </td>                                     
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4" style="text-align: right;"><b>Total Ventas:</b></td>
              <td style="text-align: center;"><b>{{ totalVentas | currency:'USD' }}</b></td>
            </tr>
          </tfoot>
          
        </table>
        <!-- Modal Tabla Detalle Ventas -->
        <div class="modal fade" id="modal-table-venta" tabindex="-1" aria-labelledby="modal-table-venta-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="modal-table-venta-label">Detalle Ventas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <table class="table" id="table-listado-detalle-ventas">
                    <thead>
                      <tr style="background-color: ghostwhite;">
                          <th>Número Venta</th>
                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Precio Unitario</th>  
                          <th>Iva</th>     
                          <th>Subtotal</th>      
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let detalle of detalleVenta" style="text-align: center;">
                        <td>{{ detalle.venta_id }}</td>
                        <td>{{ detalle.producto_id }}</td>
                        <td>{{ detalle.cantidad }}</td>
                        <td>{{ detalle.precio_unitario | currency:'USD' }}</td>
                        <td>{{ detalle.iva ? 'Sí' : 'No' }}</td>
                        <td>{{ detalle.precio_unitario * detalle.cantidad | currency:'USD' }}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="total-row">
                        <td colspan="5" style="text-align: right;"><b>Suma Subtotal:</b></td>
                        <td>{{ sumaSubtotal | currency:'USD' }}</td>
                      </tr>
                      <tr class="total-row">
                        <td colspan="5" style="text-align: right;"><b>IVA 12%:</b></td>
                        <td>{{ ivaTotal | currency:'USD' }}</td>
                      </tr>
                      <tr class="total-row">
                        <td colspan="5" style="text-align: right;"><b>Total:</b></td>
                        <td>{{ totalSubtotal | currency:'USD' }}</td>
                      </tr>
                    </tfoot>
                </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- Enlaces a los archivos de jQuery y Popper.js (requeridos por Bootstrap) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>

